body {
  height: 100%;
  background-image: url("./images/05.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-form {
  background-color: #222831;
  color:  #bdc9cf;
  max-width: 40%;
  margin: auto;
  padding: 50px 70px;  
  border-radius: 15px;
  box-shadow: 10px 10px 5px #6f7579;
  margin-top: 100px;
}

.form-form .others {
  margin: auto;
  padding: 10px 70px;
  text-align: center;
  color: #bdc9cf;
  margin-top: 20px;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.text-link:hover{
  color: inherit;
  text-decoration: inherit;
}

.form-form .item{
  width: 100%;
  border-radius: 5px;
  margin-top: 25px;
  padding: 10px;
}

.form-form .create-account{
  align-items: center;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #bdc9cf;
  border: none;
  margin-top: 15px;
}

.center{
  position: relative;
  margin: auto;
  align-items: center;
}

video{
  width: 300px;
  height: 300px;
}

.heading{
    text-align: center;
    color: white;
    background-color: #222831;
    box-shadow: 0px 5px 5px #6f7579;
    padding: 15px;
}


.center-text{
  text-align: center;
}

.studentdetails{
  width: 60%;
  background-color: #5A6268;
  color:white;
  border: 2px solid #222831;
  box-shadow: 0px 5px 5px #6f7579;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

tr td{
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
}

.cards{
  width: 20%;
  text-align: center;
  background-color: #6f7579;
  color: azure;
  padding: 20px;
  margin: 30px;
}

.rbc-calendar{
  min-height: 700px;
}