body {
  background: #ffafbd;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,  #ffc3a0, #ffafbd);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  #ffc3a0, #ffafbd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-form {
  background-color: white;
  color:  black;
  width: 40%;
  margin: auto;
  padding: 50px 70px;  
  border-radius: 15px;
  box-shadow: 10px 10px 5px #bd6170;
  margin-top: 100px;
  margin-bottom: 100px;
}

.form-form-nobg {
  width: 40%;
  margin: auto;
  padding: 50px 70px;
}

@media screen and (max-width:800px) {
  .form-form {
    width: 80%;
  }
}

@media screen and (max-width:400px) {
  .form-form {
    width: 100%;
  }
}

.form-form .others {
  margin: auto;
  padding: 10px 70px;
  text-align: center;
  color: #bd6170;
  margin-top: 20px;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.text-link:hover{
  color: inherit;
  text-decoration: inherit;
}

.option-cards{
  border-radius: 20px;
}

.form-form .item{
  width: 100%;
  border-radius: 5px;
  margin-top: 25px;
  padding: 10px;
  -webkit-box-shadow: 0 0 6px #bd6170;
  box-shadow: 0 0 6px #bd6170;
}
.form-form .item-2{
  width: 100%;
  border-radius: 5px;
  margin-top: 25px;
  -webkit-box-shadow: 0 0 6px #bd6170;
  box-shadow: 0 0 6px #bd6170;
}

.form-form .create-account,
.form-form-nobg .create-account{
  align-items: center;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #bd6170;
  border: none;
  margin-top: 15px;
  color: white;
}

.form-form-nobg .create-account:hover,
.form-form .create-account:hover{
  align-items: center;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #833945;
  color: aliceblue;
  border: none;
  margin-top: 15px;
}

.table-center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.center{
  position: relative;
  margin: auto;
  align-items: center;
}

.camera {
  margin-top: 100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: white;
  width: 420px;
  height: 340px;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}


.heading{
  text-align: center;
  padding: 15px;
}

.form-heading{
  color: #bd6170;
}

.center-text{
  text-align: center;
}

.studentdetails{
  width: 60%;
  background-color: white;
  border: 2px solid #bd6170;
  box-shadow: 0px 5px 5px #d46e7f;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 30px;
}

tr td{
  padding: 10px 30px;
  font-size: 16px;
}

.cards{
  text-align: center;
  margin: auto;
}

.rbc-calendar{
  min-height: 700px !important;
}
.rbc-event {
  z-index: 999 !important;
}