body {
  background: #C1E8F9;
}

.form-form {
  padding: 50px 0;
}

.form {
  background-color: #0B4B75;
  color:  #C1E8F9;
  max-width: 30%;
  margin: auto;
  padding: 50px 70px;
  border-radius: 25px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  box-shadow: 10px 10px #538fb8;
}

input{
  width: 90%;
  height: 25px;
  border-radius: 10px;
  border-width: 5px;
  border-color: #C1E8F9;
}

.form .item{
  margin-top: 25px;
  padding: 10px 20px;
}

.item select{
  padding: 30px;
}

.form-form .create-account{
  width: 90%;
  height: 25px;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #C1E8F9;
  border: none;
  margin-top: 20px;
}

.center{
  display: block;
  margin: auto;
  text-align: center;
}