<form action="/register" method="POST">
    <label for="username">Username: </label>
    <input type="text" id="username" name="username"><br><br>
    <label for="pass">Password: </label>
    <input type="pass" id="pass" name="passwd"><br><br>
    
    <button type="submit">Submit</button>
    
</form>